.menu_container {
    -fx-background-color: #d3d2d2;
    -fx-spacing: 15;
    -fx-padding: 0 0 10 10;
}

.menu_container Button {
    -fx-background-color: #d3d2d2;
    -fx-font-size: 2em;
    -fx-text-fill: #000000;
    -fx-font-family: "Calibri Light";
}
